@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply text-black text-base font-medium leading-none;
}

.flex-center {
    @apply flex items-center justify-center;
}

.grid_mansory {
    display: grid;
    grid-template-columns: repeat(auto-fill, 247.6px);
    grid-auto-rows: 20px;
    grid-gap: 10px;
}

.small {
    grid-row-end: span 10;
}

.big {
    grid-row-end: span 16;
}